
<p>
  <strong>Title:</strong>
  <%= @text_post.title %>
</p>

<p>
  <strong>Text Post:</strong>
  <%= @text_post.textpost %>
</p>

<p>
  <strong>Created:</strong>
  <%= @text_post.created_at %>
</p>

<%= link_to "Back", text_posts_path %>