
<p>
  <strong>Title:</strong>
  <%= @image_link.title %>
</p>

<p>
  <strong>Image Link:</strong>
  <%= @image_link.url %>
</p>

<p>
  <strong>Created:</strong>
  <%= @image_link.created_at %>
</p>

<%= link_to "Back", image_links_path %>