
<p>
  <strong>Title:</strong>
  <%= @article_link.title %>
</p>

<p>
  <strong>Article Link:</strong>
  <%= @article_link.url %>
</p>

<p>
  <strong>Created:</strong>
  <%= @article_link.created_at %>
</p>

<%= link_to "Back", article_links_path %>